* {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.button {
    background-color: #2091f9;
    padding: 8px 12px;
    border-radius: 100px;
    color: white;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
        -webkit-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    }
}

.hero {
    background-image: url(./assets/laptop.jpg);
    width: 100%;
    height: 95vh;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        position: absolute;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 60px 40px;
        margin: 0 auto;

        nav {
            position: relative;

            a {
                color: white;
                margin-right: 20px;
            }
        }
        
        .logo {
            position: relative;
        }

        .logos {
            position: relative;

            img {
                margin: 0 10px;
            }
        }
    }

    .content {
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            font-size: 28px;
            line-height: 1.6;
            font-weight: 100;
        }
    }
}

#features {
    text-align: center;
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;

    h3 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .desc {
        margin-bottom: 80px;
    }

    .features {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;

        .feature {
            max-width: 250px;

            h4 {
                font-size: 18px;
            }

            img,
            h4 {
                margin-bottom: 10px;
            }
        }
    }
}

#video {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
    box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    background-image: url(./assets/worck.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1%;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#free-trail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 60px;

    .content {
        width: 50%;
        padding-right: 100px;

        h4 {
            font-size: 22px;
            margin-bottom: 20px;
        }

        .button {
            margin-top: 20px;
        }
    }

    img {
        width: 50%;
    }
}

#partners {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 -19px;
    text-align: center;

    .content {
        max-width: 500px;
        margin: 10px auto;

        h4 {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    .logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 20px;
        justify-content: end;

        div {
            padding: 20px 50px;
            border: 1px solid #e2e2e2;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
                -webkit-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
                -moz-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
            }
        }
    }

    .button {
        margin-top: 20px;
    }
}

#footer {
    background-color: #252b42;
    color: white;
    display: flex;
    justify-content: center;

    .container {
        max-width: 1200px;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 80px 0;
        display: flex;
        justify-content: space-between;

        nav {
            display: flex;
            flex-wrap: wrap;

            .nav-col {
                display: flex;
                flex-direction: column;
                margin-right: 100px;
                margin-bottom: 18px;

                span,
                h3 {
                    margin-bottom: 10px;
                }
                a {
                    color: rgb(255, 255, 255);
                }
            }
        }

        img {
            margin-left: 10px;
            
        }
    }
}

.featuresefects:hover {
    box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
}

.buttons {
    padding: 9px 9px;
    border-radius: 100px;
    color: white;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
        -webkit-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: -1px 4px 20px -3px rgba(0, 0, 0, 0.65);
    }
}

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 44%;
    height: 14px;
    padding: 12px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 0px;

    background-color: #95e1d3;
    border: 0;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    transition: background 0.2s linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.subscribe__btn:focus {
    outline: 0;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.11s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #c837db;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.11s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}
@media (max-width:1366px) {
    #partners {
        .logos {
            grid-template-columns: repeat(2,1fr);
            margin:0 5px;
        }
    }

    .hero {
        #header {
            padding: 60px 0;
            margin-left: 3px;
        }
        .navigation {
            display: none;

        }
        .burger-icon {
            display: block;
        }
        .logos {
            display: none;
        }
    }
    #free-trail {
        flex-direction: column;
        .content {
            margin: 0 0 20px 0;
            text-align: center;
            padding-right: 0;
        }

    }
    #footer {
        .container {
            flex-direction: column;
            padding-left: 20px
        }
        nav {
            margin-bottom: 50px;
        }
    }
}
@media (min-width:1366px) {
    .hero {
        .burger-icon {
            display: none;
        }
        
    }
}


@media (max-width: 1024px) {
    #features {
        .features {
            flex-direction: column;
            align-items: center;
        }
    }
    #partners {
        .logos {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width:960px) {
    #footer {
        .container {
                padding-left: 15px;
            
            
        }
    }
}

@media (max-width:768px) {
    #features {
        .features {
            flex-direction: column;
            align-items: center;
        }
    }
    #partners {
        .logos {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    #footer {
        .container {
                padding-left: 15px;
            
            
        }
    }
}

@media (max-width:560px) {
    #features {
        .features {
            flex-direction: column;
            align-items: center;
        }
    }
    #partners {
        .logos {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    #footer {
        .container {
                padding-left: 15px;   
                
        }
    }
}
@media (max-width:376px) {
    .hero {
        .content {
            h1 {
                font-size: 34px;
                font-weight:bold;
                margin-bottom:20px;
            }
        }
    }
}
@media (max-width:361px) {
    .hero {
        .content {
            h1 {
                font-size: 34px;
                font-weight:bold;
                margin-bottom:20px;
            }
        }
    }
}

@media (max-width:321px) {
    .hero {
        .content {
            h1 {
                font-size: 24px;
                font-weight:bold;
                margin-bottom:20px;
            }
        }
    }
}
@media (max-width:280px) {
    #partners {
        .logos {
            div {
                padding: 20px 9px;
            }
        }
    }
}